/*TODO: move css in to appropriate files*/

/* main app css */
html,
body {
  height: 100%;
  background: #fff;
}

#root {
  height: 100%;
}

#root div.main-container {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100%;
}

h1,
h2 {
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: 'Fredoka One', serif;
}

form label {
  font-size: 1em;
  padding: 10px 0;
}

form input,
form textarea {
  height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  font-size: 0.875em;
  border: 1.5px solid rgb(0, 0, 0, 0.5);
  border-radius: 2px;
  cursor: pointer;
}

form textarea {
  min-height: 200px;
  line-height: 1.5em;
}

form button,
.btn {
  background-color: #4471e5;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 39px;
  border: none;
  cursor: pointer;
  justify-self: end;
  font-family: 'Fredoka One', serif;
}

input:focus,
button:focus {
  outline: none;
}

.secondary-btn {
  cursor: pointer;
  background: none;
  border-radius: 39px;
  padding: 10px 15px;
  margin-left: 10px;
  border: 1px solid black;
  text-transform: uppercase;
  justify-self: start;
  align-self: center;
}

/*Marketing Page css */

.main-container .pages {
  display: grid;
  grid-template-rows: 620px 1fr;
  grid-template-columns: 100%;
  min-height: 100%;
}

.main-container .home-header {
  background: #4471e5;
}

.main-container .pages header {
  padding: 16px 2%;
  display: grid;
  grid-template-columns: 200px 1fr 80px;
  justify-items: end;
  width: 90%;
  margin: 0 auto;
  border-color: #fff;
}

.pages header a {
  color: #fff;
  text-decoration: none;
}

.pages header a:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
  justify-self: start;
  font-family: 'Fredoka One', serif;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.wrap {
  padding: 90px 5% 0 5%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap h1 {
  font-size: 5.25em;
  max-width: 965px;
  margin: 0 auto;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.25em;
  text-align: center;
  -webkit-text-stroke: 1px #fff;
}

.wrap p {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin-top: 65px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.wrap .btn {
  border: 1px solid #fff;
  text-decoration: none;
  margin-top: 15px;
}

.wrap .btn:hover {
  box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}

.pages .body {
  margin: 60px 10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.pages .body .left-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.pages .body .right-text {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.pages .body h2 {
  margin: 0;
}

.pages .body p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.pages .body img {
  max-width: 120px;
  margin-top: 50px;
  justify-self: center;
}

/* dashboard css */

.main-container .dashboard {
  display: grid;
  grid-template-rows: 25px 1fr 135px;
  grid-template-columns: 100%;
}

.dashboard-container {
  padding: 20px;
}

.handle {
  display: grid;
  grid-template-columns: 55px 1fr;
  padding-right: 20px;
  max-height: 45px;
}
.handle h3 {
  text-align: center;
  margin-left: -8%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

/* dashboard header css */

.main-container header {
  display: flex;
  flex-direction: row;
  height: 25px;
  border-bottom: 1px solid rgb(68, 68, 68);
}
.main-container header .moon {
  width: 20px;
  height: 20px;
  padding: 2px 10px 2px 15px;
}

.main-container header button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  max-width: 45px;
  padding: 0;
  margin: 15px 0;
}

.close-btn img {
  width: 26px;
  cursor: pointer;
}

/* dock nav css */
nav.dock-nav {
  display: flex;
  justify-content: center;
  background: url('../imgs/shelf.png') no-repeat bottom center;
  justify-self: center;
  min-width: 100%;
  margin-bottom: 25px;
}

nav.dock-nav button {
  padding: 10px 20px;
  font-size: 1.7em;
  color: black;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

nav.dock-nav button:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

nav.dock-nav button img {
  max-width: 50px;
}

nav.dock-nav button .cal-date {
  position: relative;
  font-weight: 600;
  left: 50%;
  bottom: 10px;
}

/* post css */

.post-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.post-container form {
  padding: 30px 30px 20px 30px;
  max-width: 287px;
  display: grid;
  grid-template-rows: 1fr;
}

.post-container .close-btn {
  margin-left: 10px;
}

/* calendar css */

.calendar-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calendar-container .close-btn {
  margin-left: 10px;
}

.calendar {
  height: 480px;
}

.calendar .rbc-calendar {
  max-width: 775px;
  padding: 30px 30px 46px 24px;
}
.calendar .rbc-toolbar-label {
  font-size: 0.75em;
  font-weight: 600;
}

.calendar .rbc-event {
  padding: 4px 8px;
  background-color: #15d7bb;
  border-radius: 100px;
}

.calendar .rbc-show-more {
  padding: 8px;
  font-size: 65%;
}
.calendar .rbc-time-content,
.calendar .rbc-time-header-gutter {
  display: none;
}
.calendar .rbc-time-view {
  overflow: scroll;
  border: none;
}
.calendar .rbc-time-header-content {
  border: none;
}
.calendar .rbc-time-view .rbc-event {
  min-height: 40px;
}

.calendar .rbc-time-view .rbc-row {
  background-color: #fff;
}

@media only screen and (min-width: 1024px) {
  .calendar-container {
    max-width: 790px;
    min-height: 545px;
    background: url('../imgs/large-browser.png') no-repeat center center;
  }
  .calendar .rbc-toolbar-label {
    font-size: 1em;
  }
}

/* view post css */

.view-post-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 1024px) {
  .view-post-container {
    max-width: 796px;
    min-height: 548px;
    background: url('../imgs/large-browser.png') no-repeat center center;
  }

  .view-post {
    min-height: 493px;
  }
}

.view-post {
  padding: 6px 30px 30px 10px;
  max-height: 520px;
  display: grid;
  grid-template-rows: 50px 1fr 48px;
}
.view-post div {
  padding: 0px 10px;
}

.view-post div.content {
  padding: 30px;
  overflow: scroll;
}

.view-post span {
  font-style: italic;
}

.view-post p {
  line-height: 1.5em;
}
