/*TODO: move css in to appropriate files*/

/* main app css */
html,
body {
  height: 100%;
  background: url('../imgs/bgs/5.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  height: 100%;
}

form label {
  font-size: 1em;
  padding: 10px 0;
}

form input,
form textarea {
  height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  font-size: 0.875em;
  border: 1.5px solid rgb(0, 0, 0, 0.5);
  border-radius: 2px;
}

input:focus,
textarea:focus,
button:focus {
  outline: #ecc241;
}

form textarea {
  min-height: 200px;
}

form button,
.btn {
  background-color: #4471e5;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 39px;
  border: none;
  cursor: pointer;
  justify-self: end;
}

.secondary-btn {
  cursor: pointer;
  background: none;
  border-radius: 39px;
  padding: 10px 15px;
  margin-left: 10px;
  border: 1px solid black;
  text-transform: uppercase;
  justify-self: start;
  align-self: center;
}

/* dashboard css */

#root div.main-container {
  display: grid;
  grid-template-rows: 20px 1fr 84px;
  grid-template-columns: 100%;
  min-height: 100%;
}

/* dashboard header css */

.main-container header {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2);
  height: 25px;
  border-bottom: 1px dotted black;
}
.main-container header .moon {
  width: 20px;
  height: 20px;
  padding: 2px 10px 2px 15px;
}

.main-container header button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  max-width: 45px;
  padding: 0;
  margin: 15px 0;
}

.close-btn img {
  width: 26px;
  cursor: pointer;
}

/* dock nav css */
nav.dock-nav {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border: 2px dotted black;
  justify-self: center;
  min-width: 90%;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}

nav.dock-nav button {
  padding: 10px 20px;
  font-size: 1.7em;
  color: black;
  text-decoration: none;
  border: none;
  background: none;
}

nav.dock-nav button img {
  max-width: 50px;
}

nav.dock-nav button .cal-date {
  position: relative;
  font-weight: 600;
  left: 50%;
  bottom: 10px;
}

/* post css */

.post-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.post-container form {
  padding: 30px 30px 20px 30px;
  max-width: 287px;
  display: grid;
  grid-template-rows: 1fr;
}

.post-container .close-btn {
  margin-left: 10px;
}

/* calendar css */

.calendar-container {
  max-width: 815px;
  min-height: 548px;
  background: url('../imgs/large-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calendar-container .close-btn {
  margin-left: 20px;
}

.calendar {
  height: 490px;
  max-width: 816px;
}

.calendar .rbc-calendar {
  max-width: 800px;
  padding: 30px 30px 46px 24px;
}

.calendar .rbc-event {
  padding: 4px 8px;
  background-color: #15d7bb;
  border-radius: 100px;
}

.calendar .rbc-show-more {
  padding: 8px;
  font-size: 65%;
}
.calendar .rbc-time-content,
.calendar .rbc-time-header-gutter {
  display: none;
}
.calendar .rbc-time-view {
  overflow: scroll;
  border: none;
}
.calendar .rbc-time-header-content {
  border: none;
}
.calendar .rbc-time-view .rbc-event {
  min-height: 40px;
}

.calendar .rbc-time-view .rbc-row {
  background-color: #fff;
}

/* view post css */

.view-post-container {
  max-width: 815px;
  min-height: 548px;
  background: url('../imgs/large-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.view-post {
  max-width: 775px;
  padding: 0px 30px 30px 10px;
  min-height: 520px;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 48px;
  overflow: scroll;
}
.view-post div {
  padding: 0px 10px;
}

.view-post div.content {
  padding: 30px;
}

.view-post span {
  font-style: italic;
}

.view-post p {
  line-height: 1.5em;
}
