/* main app css */
html,
body {
  height: 100%;
  background: #fff;
}

#root {
  height: 100%;
}

#root main.main-container {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100%;
  min-width: 320px;
}

h1,
h2 {
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-family: 'Fredoka One', serif;
}

form label {
  font-size: 1em;
  padding: 10px 0;
}

form input,
form textarea {
  height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  font-size: 0.875em;
  border: 1.5px solid rgb(0, 0, 0, 0.5);
  border-radius: 2px;
  cursor: pointer;
}

form textarea {
  min-height: 200px;
  line-height: 1.5em;
}

form button,
.btn {
  background-color: #4471e5;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 39px;
  border: none;
  cursor: pointer;
  justify-self: end;
  font-family: 'Fredoka One', serif;
}

input:focus,
button:focus {
  outline: none;
}

.secondary-btn {
  cursor: pointer;
  background: none;
  border-radius: 39px;
  padding: 10px 15px;
  margin-left: 10px;
  border: 1px solid black;
  text-transform: uppercase;
  justify-self: start;
  align-self: center;
}

/*Pages css */

.main-container .pages {
  display: grid;
  grid-template-rows: 620px 1fr;
  grid-template-columns: 100%;
  min-height: 100%;
}

.main-container .home-header {
  background: #4471e5;
}

.main-container .pages nav {
  padding: 16px 2%;
  display: grid;
  grid-template-columns: 160px 0px 1fr 60px;
  justify-items: end;
  width: 90%;
  margin: 0 auto;
  border-color: #fff;
}

.pages nav a {
  color: #fff;
  text-decoration: none;
}

.pages nav a:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
  justify-self: start;
  font-family: 'Fredoka One', serif;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.wrap {
  padding: 90px 5% 0 5%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap h1 {
  font-size: 40px;
  max-width: 745px;
  margin: 0 auto;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.25em;
  text-align: center;
  -webkit-text-stroke: 1px #fff;
}

.wrap p {
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin-top: 65px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.wrap .btn,
.sign-up-request .btn {
  border: 1px solid #fff;
  text-decoration: none;
  margin-top: 15px;
  background: none;
}

.wrap .btn:hover,
.sign-up-request .btn:hover {
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}

.pages .body {
  display: grid;
  grid-template-rows: 925px 1fr 1fr 1fr 400px;
}

.pages .body .overview {
  background-color: #15d7bb;
}

.pages .body .overview div {
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
}

.pages .body .detail-text {
  text-align: center;
  padding: 9%;
  border-bottom: 1px solid #000;
}

.pages .body .overview h2,
.overview p {
  padding: 5px 60px 5px 50px;
  text-align: center;
}

.pages .body .overview h2 {
  padding-top: 30px;
  font-size: 26px;
}

.pages .body h2 {
  margin-top: 45px;
}

.pages .body p {
  font-size: 16px;
  line-height: 1.55em;
}

.pages .body img {
  max-width: 120px;
  margin-top: 50px;
  justify-self: center;
}

.pages .sign-up-request {
  text-align: center;
  background: #15d7bb;
  height: 400px;
}

.pages .sign-up-request h2 {
  font-size: 38px;
  max-width: 550px;
  margin: 75px auto 40px auto;
  color: #fff;
  padding: 10px;
}

footer {
  background: #4471e5;
  padding: 0 5%;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

@media only screen and (min-width: 400px) {
  .wrap h1 {
    font-size: 3.25em;
  }

  .wrap p {
    font-size: 20px;
  }

  .pages .body {
    grid-template-rows: 1025px 1fr 1fr 1fr 400px;
  }

  .pages .body p {
    font-size: 20px;
  }

  .main-container .pages nav {
    grid-template-columns: 160px 70px 1fr 70px;
  }

  .pages .sign-up-request h2 {
    font-size: 49px;
  }
}

@media only screen and (min-width: 600px) {
  .pages .body {
    grid-template-rows: 720px 1fr 1fr 1fr 400px;
  }

  .pages .body p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrap h1 {
    font-size: 5.25em;

    max-width: 965px;
  }

  .wrap p {
    font-size: 1.5em;
  }

  .pages .body {
    grid-template-rows: 655px 1fr 1fr 1fr 300px;
  }

  .pages .body p {
    font-size: 1.25em;
  }

  .pages .body .overview div {
    background: url('../imgs/large-browser-pages.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 800px;
    height: 542px;
    margin-top: 60px;
    color: #000;
  }

  .pages .body .overview h2 {
    padding-top: 77px;
  }

  .pages .body .detail-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 90px 10%;
  }

  .pages .body .detail-text {
    text-align: left;
    padding: 0;
    border: none;
  }

  .pages .body .detail-text h2 {
    margin-top: 0;
  }

  .pages .sign-up-request {
    height: 300px;
  }

  .pages .sign-up-request h2 {
    margin: 55px auto 40px auto;
  }

  .pages .eyes {
    position: relative;
    width: 100px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
  }

  .eye:nth-last-child(1) {
    margin-left: 26px;
  }

  .eye {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-top: 2px;
  }

  .eye:before {
    content: '';
    position: absolute;
    margin: auto;
    width: 8px;
    height: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(20, 20, 20, 1);
    animation: sleepyb 2s cubic infinite;
  }

  .eye:after {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 0;
    border-radius: 50%;
    background: #4471e5;
    left: -10px;
    top: -10px;
    animation: sleepya 10s infinite;
  }

  @keyframes sleepyb {
    0%,
    10% {
      top: 0;
    }
    20%,
    40% {
      top: 70%;
    }
    50%,
    100% {
      top: 0;
    }
  }

  @keyframes sleepya {
    0%,
    10% {
      height: 0;
    }
    20%,
    40% {
      height: 100%;
    }
    50%,
    100% {
      height: 0;
    }
  }
}

/* sign up css */
.pages.secondary {
  background: #4471e5;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
}

.box {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.box h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.box form {
  text-align: center;
  color: #fff;
}

.box form label {
  font-size: 16px;
}

.box form input,
.box form textarea {
  margin-top: 10px;
  width: 210px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

.box form button {
  border: 1px solid #ffffff;
}

.box form .form-error {
  font-size: 0.75em;
  color: #e95d42;
  font-weight: 600;
  padding: 15px 0;
  font-style: italic;
}

@media only screen and (min-width: 1024px) {
  .box form input,
  .box form textarea {
    width: 300px;
  }

  .box h1 {
    margin-bottom: 60px;
  }
}
/* dashboard css */

.main-container .dashboard {
  display: grid;
  grid-template-rows: 25px 1fr 135px;
  grid-template-columns: 100%;
  background: #15d7bb;
}

.dashboard-container {
  padding: 5px;
}

.handle {
  display: grid;
  grid-template-columns: 55px 1fr;
  padding-right: 20px;
  max-height: 45px;
}
.handle h3 {
  text-align: center;
  margin-left: -8%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 17px;
}

.dashboard .small {
  margin: 20px auto;
}

@media only screen and (min-width: 1024px) {
  .dashboard-container {
    padding: 20px;
  }
}

/* dashboard header css */

.main-container nav {
  display: grid;
  grid-template-columns: 60px 80px 1fr;
  height: 25px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.25);
}

.dashboard .dash-eyes {
  margin: 0;
}

.dashboard .eyes {
  position: relative;
  width: 100px;
  height: 24px;
  color: #fff;
  line-height: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  left: -40px;
}
.dashboard .eye:nth-last-child(1) {
  margin-left: 26px;
}

.dashboard .eye {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-top: 2px;
}

.dashboard .eye:before {
  content: '';
  position: absolute;
  margin: auto;
  width: 8px;
  height: 8px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgba(20, 20, 20, 1);
  animation: sleepyb 2s cubic infinite;
}

.dashboard .eye:after {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: 0;
  border-radius: 50%;
  background: #4471e5;
  left: -10px;
  top: -10px;
  animation: sleepya 10s infinite;
}

@keyframes sleepyb {
  0%,
  10% {
    top: 0;
  }
  20%,
  40% {
    top: 70%;
  }
  50%,
  100% {
    top: 0;
  }
}

@keyframes sleepya {
  0%,
  10% {
    height: 0;
  }
  20%,
  40% {
    height: 100%;
  }
  50%,
  100% {
    height: 0;
  }
}

.main-container nav button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.dash-eyes {
  margin-left: 10px;
}

.close-btn {
  background: none;
  border: none;
  max-width: 45px;
  padding: 0;
  margin: 15px 0;
}

.close-btn img {
  width: 26px;
  cursor: pointer;
}

/* dock nav css */
nav.dock-nav {
  display: flex;
  justify-content: center;
  background: url('../imgs/shelf.png') no-repeat center center;
  justify-self: center;
  min-width: 100%;
  min-height: 99%;
}

nav.dock-nav button {
  padding: 10px 20px;
  font-size: 1.7em;
  color: black;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 85px;
}

nav.dock-nav button:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

nav.dock-nav button img {
  max-width: 50px;
}

nav.dock-nav button .cal-date {
  position: relative;
  font-weight: 600;
  left: 50%;
  bottom: 10px;
}

/* post css */

.post-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.post-container form {
  padding: 30px 30px 20px 30px;
  max-width: 287px;
  display: grid;
  grid-template-rows: 1fr;
}

.post-container .close-btn {
  margin-left: 10px;
}

/* calendar css */

.calendar-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calendar-container .close-btn {
  margin-left: 10px;
}

.calendar {
  height: 480px;
}

.calendar .rbc-calendar {
  max-width: 775px;
  padding: 30px 30px 46px 24px;
}
.calendar .rbc-toolbar-label {
  font-size: 0.75em;
  font-weight: 600;
}

.calendar .rbc-event {
  padding: 4px 8px;
  background-color: #4471e5;
  border-radius: 100px;
  font-weight: 600;
  font-size: 0.75em;
}

.calendar .rbc-show-more {
  padding: 8px;
  font-size: 65%;
}
.calendar .rbc-time-content,
.calendar .rbc-time-header-gutter {
  display: none;
}
.calendar .rbc-time-view {
  overflow: scroll;
  border: none;
}
.calendar .rbc-time-header-content {
  border: none;
}
.calendar .rbc-time-view .rbc-event {
  min-height: 40px;
}

.calendar .rbc-time-view .rbc-row {
  background-color: #fff;
}

@media only screen and (min-width: 1024px) {
  .calendar-container {
    max-width: 790px;
    min-height: 545px;
    background: url('../imgs/large-browser.png') no-repeat center center;
  }
  .calendar .rbc-toolbar-label {
    font-size: 1em;
  }
}

/* view post css */

.view-post-container {
  max-width: 365px;
  min-height: 571px;
  background: url('../imgs/small-browser.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.view-post .close-btn {
  margin: 0;
}

.view-post .handle h3 {
  margin: 17px;
}

.view-post {
  padding: 6px 30px 30px 10px;
  max-height: 520px;
  display: grid;
  grid-template-rows: 45px 1fr 48px;
}
.view-post div {
  padding: 0px;
}

.view-post div.content {
  padding: 30px;
  overflow: scroll;
}

.view-post span {
  font-style: italic;
}

.view-post p {
  line-height: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .view-post-container {
    max-width: 796px;
    min-height: 548px;
    background: url('../imgs/large-browser.png') no-repeat center center;
  }

  .view-post {
    min-height: 493px;
  }

  .view-post div {
    padding: 0px 10px;
  }

  .view-post {
    padding: 6px 30px 30px 10px;
    max-height: 520px;
    display: grid;
    grid-template-rows: 50px 1fr 48px;
  }
}
